<h4> Welcome, {{name}}! </h4>
<p>Here are your sessions</p>
{{#if sessions}}
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each sessions}}
                <tr>
                    <td class="motion" style="font-size:1.55vw"><a href="/sessions/{{_id}}">{{title}}</a></td>
                    <td style="font-size:1.55vw">{{formatDate createdAt}}</td>
                    <td><span class="dash-status"style="font-size:1.55vw">{{status}}</span></td>
                    <td class="row1">
                        <a href="/sessions/edit/{{_id}}" class="btn btn-float ">
                            <i class="fas fa-edit"></i>
                        </a>

                        <form action="/sessions/{{_id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red ">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>You have not yet created any sessions!</p>
{{/if}}