<h4>Sessions</h4>
<div class="row focus">
    {{#each sessions}}
        <div class="col s10 m6">
            <div class="card hoverable">
                <div class="card-image">
                    {{{editIcon user ../user _id}}}
                </div>
                <div class="card-content center-align">
                    <h5>{{title}}</h5>
                    <p>{{stripTags (truncate body 80)}}...</p>
                    <br>
                    <div class="chip">
                        <img src="{{user.image}}" alt="">
                        <a href="/sessions/user/{{user._id}}">{{user.displayName}}</a>
                    </div>
                </div>
                <div class="card-action center-align">
                    <a href="/sessions/{{_id}}" class="btn black">Expand</a>
                </div>
            </div>
        </div>
    {{else}}
        <p> No sessions to display</p>
    {{/each}}
</div>