<div class="row">
    <div class="col s10 m8">
        <h4>{{session.title}}
            <small>{{{editIcon session.user user session._id false}}}</small>
        </h4>
        <div class="card story">
            <div class="card-content">
                <span class="card-title">{{formatDate session.createdAt}}</span>
                {{{session.body}}}
            </div>
        </div>
    </div>
    <div class="col s5 m3">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{session.user.displayName}}</span>
                <img src="{{session.user.image}}" class="circle responsive-img img-small">
            </div>
            <div class="card-action">
                <a href="/sessions/user/{{session.user._id}}">More From {{session.user.firstName}}</a>
            </div>
        </div>
    </div>
</div>